<% content_for(:title) { "Posts" } %>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $("ol.listing li").click(function() {
        location.href = $(this).children("a")[0].href;
      });
    })
  </script>
<% end %>

<% content_for :sidebar_left do %>
  <a href="/admin/posts/">&laquo; all posts</a><br/>
  <% if flagged %>
    <a href="/admin/comments/">all comments</a>
    <form method="post" action="/admin/comments/flagged/clear">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" style="display: none" />
      <a class="clear flagged" href="#">&raquo; clear flagged comments &laquo;</a>
    </form>
  <% else %>
    <a href="/admin/comments/flagged/">flagged comments</a>
  <% end %>
<% end %>

<% content_for :footer_left do %>
  <% if previous_page?(comments, page, per_page) %>
    <a href="/admin/comments/<%= flagged ? "flagged/" : "" %>?page=<%= page - 1 %>">&laquo; newer comments</a>
  <% end %>
<% end %>

<% content_for :footer_right do %>
  <% if next_page?(comments, page, per_page) %>
    <a href="/admin/comments/<%= flagged ? "flagged/" : "" %>?page=<%= page + 1 %>">older comments &raquo;</a>
  <% end %>
<% end %>

<% if comments.any? %>
  <ol class="listing">
    <% comments.each do |comment| %>
      <li>
        <a href="/admin/comment/<%= comment.id %>"><%= h comment.author %></a>
        on
        <%= h comment.post.title %>
      
        <% if comment.hidden %>
          <span class="flags hidden">hidden</span>
        <% end %>
      </li>
    <% end %>
  </ol>
<% else %>
  <p class="none">No comments.</p>
<% end %>

<script type="text/javascript">
  $(function() {
    $("a.flagged.clear").click(function() {
      if (confirm("Really clear all flagged comments?"))
        this.parentNode.submit();
      
      return false;
    });
  });
</script>