<% content_for(:title) { h post.title } %>

<% content_for :sidebar_left do %>
  <a href="/admin/posts/">&laquo; all posts</a>
<% end %>

<% if post.errors.any? %>
  <ol class="errors">
    <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<article>
  <form action="/admin/post/<%= post.slug %>" method="post">
    <input type="hidden" name="_method" value="put" />
    
    <input type="text" class="big title" name="post[title]" placeholder="title" 
      value="<%= form_escape post.title %>"
      />
      
    <textarea class="body" name="post[body]"><%= post.body %></textarea>
    
    <input type="submit" name="submit" value="Update" />
    
    <% if post.draft %>
      <input type="submit" name="submit" value="Publish" />
    <% else %>
      <input type="submit" name="submit" value="Unpublish" />
    <% end %>
    
    <% if post.private %>
      <input type="submit" name="submit" value="Make public" />
    <% else %>
      <input type="submit" name="submit" value="Make private" />
    <% end %>
    
    <% if post.visible? %>
      <a class="visit" href="/post/<%= post.slug %>">See on site &raquo;</a>
    <% end %>
    
    <fieldset>
      <input type="text" name="post[tags]" class="small tags" placeholder="tags"
        value="<%= form_escape post.tags.join(", ") %>"
        />
        
      <input type="checkbox" name="post[display_title]" id="post_display_title"
        <%= "checked" if post.display_title %>
        />
      <label for="post_display_title">Display title?</label>
    </fieldset>
  </form>
</article>