<audio class="<%= slug %>">
  <source src="<%= filename %>" />
</audio>

<div class="controls <%= slug %>">
  <a href="#" tabindex="1" class="play">Play</a>
  <a href="#" tabindex="1" class="pause">Pause</a>
</div>
<div class="audio <%= slug %>" style="width: 0; height: 0;"></div>

<h3>
  <a href="<%= filename %>"><%= name %></a>
</h3>
<h4>
  <% if link.present? %>
    <a href="<%= link %>"><%= by %></a>
  <% else %>
    <%= by %>
  <% end %>
</h4>

<script type="text/javascript">
  $("div.audio.<%= slug %>").jPlayer({
    swfPath: "/swf",
    solution: "html, flash",
    preload: "auto",
    volume: 0.7,
    
    cssSelectorAncestor: "div.controls.<%= slug %>",
    cssSelector: {
      play: ".play",
      pause: ".pause"
    },
    
    ready: function() {
      $(this).jPlayer("setMedia", {
        mp3: "<%= filename %>"
      });
    }
  });
</script>