<% content_for :title do %>Mill Industries<% end %>
<% content_for :description do %>where I discuss my industries<% end %>

<% content_for :sidebar_left do %>
  <h1>
    blog by <cite><a href="mailto:kprojection@gmail.com">Eric Mill</a></cite>
  </h1>
  <h2>
    also <a rel="me" href="http://twitter.com/klondike">twitter</a>
  </h2>
<% end %>

<% content_for :sidebar_right do %>
  <% if admin? %>
    <a href="/admin">&raquo; admin</a><br/>
    <a href="/admin/logout">logout</a>
  <% end %>
<% end %>

<% content_for :footer_left do %>
  <% if posts.previous_page %>
    <a href="/?page=<%= posts.previous_page %>">&laquo; newer posts</a>
  <% end %>
<% end %>

<% content_for :footer_right do %>
  <% if posts.next_page %>
    <a href="/?page=<%= posts.next_page %>">older posts &raquo;</a>
  <% end %>
<% end %>

<% posts.each do |post| %>

  <article>
    <header>
      <h1>
        <% if post.display_title %>
          <a href="<%= post_path post %>">
            <%= h post.title %>
          </a>
        <% else %>
          <a>
            <%= h post.title %>
          </a>
        <% end %>
      </h1>
    </header>

    <section>
      <h1>
        <a href="<%= post_path post %>">
          <time datetime="<%= short_datetime post.published_at %>" pubdate><%= short_date post.published_at %></time>
        </a>
      </h1>
      <h2>
        <a href="<%= post_path post %>#comments">
          <% if post.comments.visible.count > 0 %>
            <%= post.comments.visible.count %> comments
          <% else %>
            no comments
          <% end %>
        </a>
      </h2>
    </section>

    <%= post_body post %>
    
  </article>
  
  <% if post != posts.last %>
    <hr />
  <% end %>
  
<% end %>