<% content_for :title do %>Mill Industries<% end %>

<% posts.each do |post| %>

  <article>
    <header>
      <h1>
        <a href="<%= post_path post %>">
          <%= h post.title %>
        </a>
      </h1>
    </header>

    <section>
      <h1>
        <a href="<%= post_path post %>">
          <time datetime="<%= short_datetime post.published_at %>" pubdate><%= short_date post.published_at %></time>
        </a>
      </h1>
      <h2>
        <a href="<%= post_path post %>#comments">
          <% if post.comments.count > 0 %>
            <%= post.comments.count %> comments
          <% else %>
            no comments
          <% end %>
        </a>
      </h2>
    </section>

    <%= post_body post.body %>
    
  </article>
  
  <% if post != posts.last %>
    <hr />
  <% end %>
  
<% end %>