<% content_for :title do %><%= post.title %><% end %>
<% content_for :description do %><%= meta_description post.body %><% end %>

<article>
  <header>
    <h1>
      <% if post.display_title %>
        <a href="<%= post_path post %>">
          <%= h post.title %>
        </a>
      <% else %>
        <a>
          <%= h post.title %>
        </a>
      <% end %>
    </h1>
  </header>
  
  <%= post_body post.body %>
  
  <footer>
    <time datetime="<%= short_datetime post.published_at %>" pubdate><%= long_date post.published_at %></time>
    <hr />
  </footer>
</article>

<ol id="comments"> <!-- id used for anchor -->
  <% if post.comments.visible.count > 0 %>
    <% post.comments.visible.asc(:created_at).each do |comment| %>
      <li id="comment-<%= comment.id %>"> <!-- id used for anchor -->
        <header>
          <cite>
            <% if comment.author_url.present? %>
              <a rel="nofollow" href="<%= h comment.author_url %>">
                <%= h comment.author %>
              </a>
            <% else %>
              <%= h comment.author %>
            <% end %>
          </cite>
          <time datetime="<%= long_datetime comment.created_at %>" pubdate>
            <%= comment_time comment.created_at %>
          </time>
        </header>
        
        <%= comment_body comment.body %>
        
      </li>
    <% end %>
  <% end %>
</ol>

<section id="comment-form"> <!-- id used for anchor -->
  <% if new_comment and new_comment.errors.any? %>
    <p>Comments must have a name and a body.</p>
  <% end %>
  
  <form method="post" action="<%= comment_path post %>#comment-form">
    <input name="comment[author]" type="text" placeholder="name" required 
      <% if new_comment %>value="<%= new_comment.author %>"<% end %>
      />
    <input name="comment[author_url]" type="url" placeholder="website" 
      <% if new_comment %>value="<%= new_comment.author_url %>"<% end %>
      />
    <textarea name="comment[body]" name="comment" required><% if new_comment %><%= h new_comment.body %><% end %></textarea>
    <input type="submit" value="Post" />
  </form>
</section>