<% if comments.any? %>
  <form action="/admin/comments" method="post">
    <input type="hidden" name="_method" value="put" />
    <input type="hidden" name="redirect_to" value="<%= h request.url %>" />

    <div class="controls">
      <input type="submit" name="submit" value="Hide" />
      <input type="submit" name="submit" value="Show" />
      
      <% if flagged %>
        <input type="submit" name="submit" value="Ham!" />
      <% else %>
        <input type="submit" name="submit" value="Spam!" />
      <% end %>

      <input type="checkbox" name="tell_akismet" id="comments_tell_akismet"
        /> <label for="comments_tell_akismet">Tell Akismet?</label>
    </div>

    <ol class="listing">
      <li class="header">
        <%= check_box_tag :select_all, id: "select_all" %>
        <label for="select_all">select all</label>
      </li>

      <% comments.each do |comment| %>
        <li
          class="comment"
          data-comment_id="<%= comment.id %>"
          >

          <span class="checkbox">
            <%= check_box_tag "comment_ids[]", value: comment.id %>
          </span>

          <a href="/admin/comment/<%= comment.id %>"><%= h comment.author %></a>
          on
          <% if comment.post %>
            <%= excerpt h(comment.post.title), 20 %>
          <% else %>
            (Orphaned Comment)
          <% end %>

          <span class="excerpt">
            <%= excerpt h(comment.body), 70 %>
          </span>
        
          <time><%= short_date comment.created_at %></time>

          <% if comment.hidden %>
            <span class="flags hidden">hidden</span>
          <% end %>
        </li>
      <% end %>
    </ol>
  </form>
<% else %>
  <p class="none">No comments.</p>
<% end %>

<script type="text/javascript">
  $(function() {
    $("a.flagged.clear").click(function() {
      if (confirm("Really clear all spam comments?"))
        this.parentNode.submit();
      
      return false;
    });

    $("ol.listing li.header input#select_all").click(function() {
      var checked = !!($(this).attr("checked"));
      $("ol.listing li.comment input[type=checkbox]").attr("checked", checked);
    });
  });
</script>