<form action="/admin/comments" method="post">

  <nav class="comments">
    <li class="left header">
      <%= check_box_tag :select_all, id: "select_all" %>
    </li>

    <input type="hidden" name="_method" value="put" />
    <input type="hidden" name="redirect_to" value="<%= h request.url %>" />

    <div class="controls">
      <input type="submit" name="submit" value="Hide" />
      <input type="submit" name="submit" value="Show" />
      
      <% if flagged %>
        <input type="submit" name="submit" value="Ham!" />
      <% else %>
        <input type="submit" name="submit" value="Spam!" />
      <% end %>

      <input type="checkbox" name="tell_akismet" id="comments_tell_akismet"
        /> <label class="akismet" for="comments_tell_akismet">Tell Akismet?</label>

      <% if flagged %>
        <button class="clear flagged">Clear Spam</button>
      <% end %>
    </div>
  </nav>

  <ol class="comments">
    <% comments.each do |comment| %>
      <li
        class="comment <%= comment.hidden? ? "hidden" : "shown" %>"
        data-comment_id="<%= comment.id %>"
        >

        <span class="left checkbox">
          <%= check_box_tag "comment_ids[]", value: comment.id %>
        </span>

        <a class="author" href="/admin/comment/<%= comment.id %>">
          <%= h comment.author %></a>,

        <span class="title">
          <% if comment.post %>
            <%= excerpt h(comment.post.title), 15 %>,
          <% else %>
            (Orphaned),
          <% end %>
        </span>

        <span class="excerpt">
          <%= excerpt h(comment.body), 50 %>
        </span>
      
        <time><%= tiny_date comment.created_at %></time>
      </li>
    <% end %>
  </ol>
</form>

<!-- hidden, submitted to clear flagged comments -->
<form id="clear_comments" method="post" action="/admin/comments/flagged/clear">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" style="display: none" />
</form>


<script type="text/javascript">
  $(function() {
    $(".flagged.clear").click(function() {
      if (confirm("Really clear all spam comments?"))
        $("#clear_comments").get(0).submit();
      
      return false;
    });

    $("#select_all").click(function() {
      var checked = !!($(this).attr("checked"));
      $("ol.comments li input[type=checkbox]").attr("checked", checked);
    });
  });
</script>