<!doctype html>
<html>
<head>
  <title><%= yield_content :title %></title>

  <link rel="stylesheet" href="/css/html5-reset.css" />
  <link rel="stylesheet" href="/css/main.css?<%= Time.now.to_i %>" />
  <link rel="stylesheet" href="/css/admin.css?<%= Time.now.to_i %>" />

  <script src="/js/jquery-2.1.1.min.js"></script>

  <% yield_content :head %>
</head>
<body class="admin">

  <%= styled_flash %>

  <div class="main">

    <% if session[:admin] %>
      <nav class="posts">
        <a class="left" href="/admin/logout">&raquo; Logout &laquo;</a>

        <%= link_to_current "+ New post", "/admin/posts/new" %>

        <%= link_to_current "Published", "/admin/posts/published" %>
        <%= link_to_current "Drafts (#{Post.drafts.count})", "/admin/posts/drafts" %>
        <%= link_to_current "Flagged", "/admin/posts/flagged" %>
        <%= link_to_current "All", "/admin/posts/all" %>

        <div class="search">
          <form action="/admin/posts/all" method="get">
            <input type="search" name="q" placeholder="Search" />
          </form>
        </div>

        <%= link_to_current "Spam", "/admin/comments/flagged" %>
      </nav>
    <% elsif session[:half_admin] %>
      <p>Almost there. Gotta show the token.</p>
      <br/>
    <% else %>
      <p>Not logged in.</p>
      <br/>
    <% end %>

    <%= yield %>
  </main>

  <script type="text/javascript">
    $(function() {
      $("#flash").delay(3000).fadeOut(500);
      $("#flash").click(function() {$(this).remove()})
    });
  </script>

</body>
</html>