<% if post.errors.any? %>
  <ol class="errors">
    <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= partial "admin/cheat", engine: :erb %>

<article>

  <form action="/admin/post/<%= post.slug %>" method="post">
    <input type="hidden" name="_method" value="put" />

    <section class="controls right">
      <input type="submit" name="submit" class="update" value="Save"
        tabindex="8"
      />

      <button class="preview"
        tabindex="9"
        >Preview &raquo;</button>


      <% if post.draft? %>
        <% if post.published_at %>
          <input type="submit" name="submit" value="Republish"
            tabindex="10"
            />
        <% else %>
          <input type="submit" name="submit" value="Publish"
            tabindex="10"
            />
        <% end %>
      <% else %>
        <input type="submit" name="submit" value="Unpublish"
          tabindex="10"
          />
      <% end %>

      <% if post.private? %>
        <input type="submit" name="submit" value="Make public"
          tabindex="11"
          />
      <% else %>
        <input type="submit" name="submit" value="Make private"
          tabindex="11"
          />
      <% end %>

      <% if post.flagged? %>
        <input type="submit" name="submit" value="Un-flag"
          tabindex="12"
          />
      <% else %>
        <input type="submit" name="submit" value="Flag"
          tabindex="12"
          />
      <% end %>

      <% if post.visible? %>
        <a target="_blank" class="visit public" href="<%= post_path post %>">Public post &raquo;</a>
      <% else %>
        <a target="_blank" class="visit private" href="/admin/preview/<%= post.id %>">Private post &raquo;</a>
      <% end %>

      <% if post.draft? %>
        <span class="state draft">
          Draft
          <% if post.published_at %>
            (<%= long_date post.published_at %>)
          <% end %>
        </span>
      <% else %>
        <span class="state published">
          Published <%= long_date post.published_at %>
        </span>
      <% end %>

      <span class="state updated">
        Updated <%= long_date post.updated_at %>
      </span>

      <a class="delete post" href="#">Delete post</a>

      <% if post.versions and post.versions.any? %>
        <ul class="versions">
          <h5>Older versions</h5>
          <% post.versions.each_with_index do |version, i| %>
            <li>
              <a href="/admin/preview/<%= post.id %>?version=<%= i %>"
                target="_blank"
                >
                <%= long_date version['last_updated_at'] %>
              </a>
              <span class="because">
                <%= excerpt version['replaced_because'], 15 %>
              </span>
            </li>
          <% end %>
        </ul>
      <% end %>
    </section>


    <input type="text" class="big title" name="post[title]" placeholder="title"
      value="<%= form_escape post.title %>"
      tabindex="1"
      />

    
    <input type="text" class="big title" name="post[subtitle]" placeholder="subtitle (optional)"
      value="<%= form_escape post.subtitle %>"
      tabindex="1"
      />

    <textarea placeholder="excerpt (html welcome)" class="excerpt"
      name="post[excerpt]" tabindex="2"
      ><%= post.excerpt %></textarea>

    <textarea placeholder="body" class="body"
      name="post[body]" tabindex="3"
      ><%= post.body %></textarea>

    <fieldset>
      <input type="text" placeholder="slug" id="post_slug" name="post[slug]" class="small slug" value="<%= post.slug %>"
      tabindex="4"
      />

      <input type="text" name="post[tags]" class="small tags" placeholder="tags"
        value="<%= form_escape post.tags.join(", ") %>"
        tabindex="5"
        />

      <input type="text" name="new_version" class="small version"
        placeholder="save new version because"
        tabindex="6"
        />
    </fieldset>

    <textarea placeholder="footer (raw html)" class="footer"
      name="post[footer]" tabindex="7"
      style="height: <%= post.footer.present? ? "400px" : "80px" %>"
      ><%= post.footer %></textarea>

  </form>
</article>

<ol id="comments">
  <% post.comments.where(flagged: false).asc(:created_at).each do |comment| %>
    <%= partial "comment", engine: :erb, locals: {comment: comment} %>
  <% end %>
</ol>

<form id="delete_post" method="post" action="/admin/post/<%= post.slug %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" style="display: none" />
</form>

<form id="preview" method="post" target="_blank" action="/admin/preview">
  <input type="submit" style="display: none" />
  <input type="hidden" class="title" name="title" />
  <input type="hidden" class="subtitle" name="subtitle" />
  <input type="hidden" class="body" name="body" />
  <input type="hidden" class="footer" name="footer" />
</form>


<script type="text/javascript">
  $(function() {
    $("a.post.delete").click(function() {
      if (confirm("Really delete this post?"))
        $("#delete_post").get(0).submit();

      return false;
    });

    $("button.preview").click(function() {
      $("#preview .title").val($("input.title").val());
      $("#preview .subtitle").val($("input.subtitle").val());
      $("#preview .body").val($("textarea.body").val());
      $("#preview .footer").val($("textarea.footer").val());
      $("#preview").get(0).submit();
      return false;
    });
  });
</script>
