<ol class="posts <%= filter %>">
  <% posts.each do |post| %>
    <li class="post">
      <time class="left">
        <%= short_date post.created_at %>
      </time>

      <a href="/admin/post/<%= post.slug %>">
        <%= h post.title %></a>

      <% if post.comment_count > 0 %>
        <a class="flag count"><%= post.comment_count %></a>
      <% end %>

      <% if filter == "all" %>
        <% if post.draft? %>
          <a class="flag draft"
            href="/admin/posts/drafts"
            >draft</a>
        <% end %>

        <% if post.private? %>
          <a class="flag private"
            href="/admin/posts/private"
            >private</a>
        <% end %>

        <% if post.flagged? %>
          <a class="flag flagged"
            href="/admin/posts/flagged"
            >flagged</a>
        <% end %>
      <% end %>

      <% post.tags.each do |tag| %>
        <a class="flag tag"
          href="?tag=<%= tag %>"
          ><%= tag %></a>
      <% end %>
    </li>
  <% end %>
</ol>