<% if post.errors.any? %>
  <ol class="errors">
    <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= partial "admin/cheat", engine: :erb %>

<article>

  <form action="/admin/post/<%= post.slug %>" method="post">
    <input type="hidden" name="_method" value="put" />

    <section class="controls right">
      <input type="submit" name="submit" class="update" value="Update" />
      <button class="preview">Preview &raquo;</button>
      
      <% if post.draft? %>
        <% if post.published_at %>
          <input type="submit" name="submit" value="Republish" />
        <% else %>
          <input type="submit" name="submit" value="Publish" />
        <% end %>
      <% else %>
        <input type="submit" name="submit" value="Unpublish" />
      <% end %>

      <% if post.flagged? %>
        <input type="submit" name="submit" value="Un-flag" />
      <% else %>
        <input type="submit" name="submit" value="Flag" />
      <% end %>
      
      <% if post.private? %>
        <input type="submit" name="submit" value="Make public" />
      <% else %>
        <input type="submit" name="submit" value="Make private" />
      <% end %>
      
      <% if post.visible? %>
        <a target="_blank" class="visit published" href="<%= post_path post %>">See on site &raquo;</a>
      <% end %>
      
      <br/>
      <a class="delete post" href="#">Delete post</a>

      <% if post.published_at %>
        <span class="state published">
          Published <%= long_date post.published_at %>
        </span>
      <% else %>
        <span class="state draft">
          Never published
        </span>
      <% end %>

      <span class="state updated">
        Updated <%= long_date post.updated_at %>
      </span>

    </section>

    
    <input type="text" class="big title" name="post[title]" placeholder="title" 
      value="<%= form_escape post.title %>"
      />

    <textarea placeholder="excerpt (html welcome)" class="excerpt" name="post[excerpt]"><%= post.excerpt %></textarea>

    <textarea placeholder="body" class="body" name="post[body]"><%= post.body %></textarea>
    
    
    
    <fieldset>
      <input type="text" placeholder="slug" id="post_slug" name="post[slug]" class="small slug" value="<%= post.slug %>" />
      
      <input type="text" name="post[tags]" class="small tags" placeholder="tags"
        value="<%= form_escape post.tags.join(", ") %>"
        />
    </fieldset>
  </form>
</article>

<ol id="comments">
  <% post.comments.where(flagged: false).asc(:created_at).each do |comment| %>
    <%= partial "comment", engine: :erb, locals: {comment: comment} %>
  <% end %>
</ol>

<form id="delete_post" method="post" action="/admin/post/<%= post.slug %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" style="display: none" />
</form>

<form id="preview" method="post" target="_blank" action="/admin/preview">
  <input type="submit" style="display: none" />
  <input type="hidden" class="title" name="title" />
  <input type="hidden" class="body" name="body" />
</form>

<script type="text/javascript">
  $(function() {
    $("a.post.delete").click(function() {
      if (confirm("Really delete this post?"))
        $("#delete_post").get(0).submit();
      
      return false;
    });

    $("button.preview").click(function() {
      $("#preview .title").val($("input.title").val());
      $("#preview .body").val($("textarea.body").val());
      $("#preview").get(0).submit();
      return false;
    })
  });
</script>