<% content_for :sidebar do %>
  <a href="/admin/posts/">&laquo; all posts</a><br/>

  <% if defined?(newer_post) and newer_post %>
    <a href="/admin/post/<%= newer_post.slug %>?offset=<%= offset - 1 %>&q=<%= params[:q] %>">&laquo; newer</a><br/>
  <% end %>
  <% if defined?(older_post) and older_post %>
    <a href="/admin/post/<%= older_post.slug %>?offset=<%= offset + 1 %>&q=<%= params[:q] %>">older &raquo;</a><br/>
  <% end %>
<% end %>

<% if post.errors.any? %>
  <ol class="errors">
    <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<article>
  <form action="/admin/post/<%= post.slug %>" method="post">
    <input type="hidden" name="_method" value="put" />
    
    <input type="text" class="big title" name="post[title]" placeholder="title" 
      value="<%= form_escape post.title %>"
      />

    <textarea class="body" name="post[body]"><%= post.body %></textarea>
    
    <input type="submit" name="submit" value="Update" />
    
    <span class="divider">or</span>
    
    <% if post.draft? %>
      <% if post.published_at %>
        <input type="submit" name="submit" value="Republish" />
      <% else %>
        <input type="submit" name="submit" value="Publish" />
      <% end %>
    <% else %>
      <input type="submit" name="submit" value="Unpublish" />
    <% end %>
    
    <% if post.private? %>
      <input type="submit" name="submit" value="Make public" />
    <% else %>
      <input type="submit" name="submit" value="Make private" />
    <% end %>

    <input type="text" name="post[post_type]" class="small tags" placeholder="channels"
        value="<%= form_escape post.post_type.join(", ") %>"
        />
    
    <% if post.visible? %>
      <a class="visit published" href="<%= post_path post %>">See on site &raquo;</a>
    <% else %>
      <a class="visit preview" href="/admin/post/<%= post.id %>/preview">Preview &raquo;</a>
    <% end %>
    
    <fieldset>
      <input type="text" name="post[tags]" class="small tags" placeholder="tags"
        value="<%= form_escape post.tags.join(", ") %>"
        />
      
      <input type="text" id="post_slug" name="post[slug]" class="small slug" value="<%= post.slug %>" />
    </fieldset>
  </form>
  <br/>
  <form method="post" action="/admin/post/<%= post.slug %>">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" style="display: none" />
    <a class="delete post" href="#">Delete post</a>
  </form>
  <% if post.published_at %>
        <span class="state published">
          Published on <%= long_date post.published_at %>
        </span>
      <% else %>
        <span class="state draft">
          Never published
        </span>
      <% end %>
</article>

<script type="text/javascript">
  $(function() {
    $("a.post.delete").click(function() {
      if (confirm("Really delete this post?"))
        this.parentNode.submit();
      
      return false;
    });
  });
</script>