<li id="comment-<%= comment.id %>" class="<%= "hidden" if admin? and comment.hidden? %>">
  <header>
    <span class="author">
      <% if comment.author_url.present? %>
        <a rel="nofollow" href="<%= h comment.author_url %>">
          <%= h comment.author %>
        </a>
      <% else %>
        <%= h comment.author %>
      <% end %>
    </span>

    <h6>
      <time datetime="<%= long_datetime comment.created_at %>" pubdate>
        <%= long_date comment.created_at %>
      </time>
    </h6>

    <% if admin? and comment.hidden? %>
      <span class="right hidden">hidden</span>
    <% end %>

  </header>

  <%= comment.body_rendered %>

</li>