<header>
  <h1>
    <a class="time" href="<%= post_path post %>">
      <time datetime="<%= short_datetime post.published_at %>" pubdate>
        <%= short_date post.published_at %>
      </time>
    </a>
    
    <% if post.display_title %>
      <a href="<%= post_path post %>">
        <%= h post.title %>
      </a>
    <% end %>
  </h1>
  
  <% if !post.visible? %>
    <h3>
      Unpublished, last updated <%= long_date post.updated_at %>
    </h3>
  <% end %>
</header>