<header>
  <% date = post.published_at || post.updated_at %>
  <time class="left" datetime="<%= short_datetime date %>" pubdate>
    <%= short_date date %>
  </time>

  <% if !post.visible? %>
    <div class="unpublished right">
      Unpublished, last updated <%= long_date post.updated_at %>
    </div>
  <% end %>

  <h1>
    <a class="title" href="<%= post_path post %>">
      <%= h post.title %>
    </a>
  </h1>
</header>