<div class="controls <%= slug %>">
  <a class="play" href="<%= url_escape filename %>">Play</a>
</div>

<h3>
  <a href="<%= url_escape filename %>"><%= name %></a>
</h3>
<h4>
  <% if link.present? %>
    by <a href="<%= link %>"><%= by %></a>
  <% else %>
    by <%= by %>
  <% end %>
</h4>

<div style="clear: both"></div>