<section class="blackout">
  <article>
<!--     <header>
      <h1>
        <a href="/blackout/<%= current_blackout[:slug] %>">
          <%= current_blackout[:title] %>
        </a>
        <span class="code">
          (<a href="https://github.com/konklone/konklone/blob/master/app/views/blackout/<%= current_blackout[:file] %>.html">code</a>)
        </span>
      </h1>
    </header> -->

    <%= page %>
  </article>

  <ol reversed>
    <% Environment.blackouts.reverse.each do |blackout| %>
      <li>
        <%= blackout[:id] %>.
        <% if request.path == "/blackout/#{blackout[:slug]}" %>
          <%= blackout[:title] %>
        <% else %>
          <a href="/blackout/<%= blackout[:slug] %>">
            <%= blackout[:title] %>
          </a>
        <% end %>
      </li>
    <% end %>
  </ol>
</section>

<% content_for :head do %>
  <%# geez %>
  <%= "<link rel=\"stylesheet\" href=\"/css/blackout.css?#{Time.now.to_i}\"/>".html_safe %>
  <%= "<script src=\"/blackout/processing-1.4.1-api.min.js?#{Time.now.to_i}\"></script>".html_safe %>
  <%= "<script src=\"/blackout/three.min.js?#{Time.now.to_i}\"></script>".html_safe %>
<% end %>