<article>
  <p>
    This blog has an <a class="feed" href="/rss.xml">RSS feed</a>, because RSS is one of the greatest inventions of mankind.
  </p>
</article>

<ul class="posts">
  <% if posts.any? %>
    <li>
      <article class="index first">
        <%= partial "header", locals: {post: posts.first} %>

        <section class="body">
          <% if posts.first.excerpt_rendered.present? %>
            <%= posts.first.excerpt_rendered %>
            <p>
              <a class="readon" href="<%= post_path posts.first %>">Read the rest…</a>
            </p>
          <% else %>
            <%= posts.first.body_rendered %>
          <% end %>
        </section>

      </article>
    </li>

    <% content_for :foot do %>
      <script src="/js/post.js?<%= Time.now.to_i %>"></script>
      <%= posts.first.footer %>
    <% end %>

    <% if posts.size > 1 %>
      <% posts[1..-1].each do |post| %>
        <li>
          <article class="small">
            <div class="inner">
              <h1>
                <a class="title" href="<%= post_path post %>">
                  <%= h post.title %>
                </a>
              </h1>

              <time datetime="<%= short_datetime post.published_at %>" pubdate>
                <%= short_date post.published_at %>
              </time>

              <span class="excerpt"><%= small_post_excerpt post %></span>
            </div>
          </article>
        </li>
      <% end %>
    <% end %>
  <% else %>
    <p class="error">
      You've gone too far! No posts.
    </p>
  <% end %>
</ul>