<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Konklone: Comments</title>
    <link><%= site['root'] %></link>
    <description>Comments for Konklone</description>
    <language>en-us</language>
    <image>
      <title>Konklone</title>
      <link><%= site['root'] %></link>
      <url><%= site['root'] %>/favicon.png</url>
      <description>Stuff by Eric Mill</description>
      <width>144</width>
      <height>144</height>
    </image>
    <atom:link href="<%= site['root'] %>/comments.xml" rel="self" type="application/rss+xml" />

      <% comments.each do |comment| %>
        <item>
          <title>Comment: <%= h comment.author %></title>
          <description><![CDATA[
            <%= comment.body_rendered %>
          ]]></description>
          <link><%= site['root'] %><%= post_path comment.post %>#comment-<%= comment.id %></link>
          <guid><%= site['root'] %><%= post_path comment.post %>#comment-<%= comment.id %></guid>
          <pubDate><%= rss_date comment.created_at %></pubDate>
        </item>
      <% end %>
  </channel>
</rss>