<header>
  <% date = post.published_at || post.updated_at %>

  <% if !post.visible? %>
    <div class="unpublished right">
      Unpublished, last updated <%= long_date post.updated_at %>
    </div>
  <% end %>

  <h1>
    <a class="title" href="<%= post_path post %>">
      <%= h post.title %>
    </a>
  </h1>

  <h6>
    published
    <time datetime="<%= short_datetime date %>" pubdate>
      <%= long_date date %></time><% if post.comment_count > 0 %>,
      <a href="<%= post_path post %>#comments" class="comments">
        <%= post.comment_count %> comment<%= "s" if post.comment_count > 1 %>
      </a>
    <% end %>
  </time>
</header>