<header>
  <% date = post.published_at || post.updated_at %>

  <% if !post.visible? %>
    <div class="unpublished right">
      Unpublished, last updated <%= long_date post.updated_at %>
    </div>
  <% end %>

  <h1>
    <a class="title" href="<%= post_path post %>">
      <%= h post.title %>
    </a>
  </h1>

  <h6>
    published by <a href="https://twitter.com/konklone">Eric Mill</a> on
    <time datetime="<%= short_datetime date %>" pubdate>
      <%= long_date date %>
    </time>
  </h6>
</header>