<ul class="posts">

  <li>
    <article class="index first">
      <%= partial "header", engine: :erb, locals: {post: posts.first} %>

      <%= post_excerpt posts.first %>

      <p>
        <a class="readon" href="<%= post_path posts.first %>">Read on…</a>
      </p>
    </article>
  </li>

  <% posts[1..-1].each do |post| %>
  <li>
    <article class="small">
      <div class="inner">
        <time class="left" datetime="<%= short_datetime post.published_at %>" pubdate>
          <%= short_date post.published_at %>
        </time>

        <h1>
          <a class="title" href="<%= post_path post %>">
            <%= h post.title %>
          </a>
        </h1>

        <span class="excerpt"><%= small_excerpt post %></span>
      </div>
    </article>
  </li>
  <% end %>
</ul>

<!--<section class="sidebar">
  <% if false and defined?(posts) %>
    <div class="pagination">
      <% if previous_page?(posts, page, per_page) %>
        <a href="/?page=<%= page - 1 %>">&laquo; newer posts</a>
      <% end %>

      <% if next_page?(posts, page, per_page) %>
        <a href="/?page=<%= page + 1 %>">older posts &raquo;</a>
      <% end %>
    </div>
  <% end %>
</section>-->