<ul>
  <% posts.each do |post| %>
    <li>
      <article class="<%= post.post_type.first %>">
        <%= post_header post %>
        <%= post_body post %>

        <p class="comments">
          <a href="<%= post_path post %>#comments">
            <% if post.comments.visible.count == 1 %>
              <%= post.comments.visible.count %> comment
            <% elsif post.comments.visible.count > 0 %>
              <%= post.comments.visible.count %> comments
            <% else %>
              no comments
            <% end %>
          </a>
        </p>
      </article>
    </li>
    <% if post != posts.last %>
      <hr />
    <% end %>
  <% end %>
</ul>

<!--<section class="sidebar">
  <% if false and defined?(posts) %>
    <div class="pagination">
      <% if previous_page?(posts, page, per_page) %>
        <a href="/?page=<%= page - 1 %>">&laquo; newer posts</a>
      <% end %>

      <% if next_page?(posts, page, per_page) %>
        <a href="/?page=<%= page + 1 %>">older posts &raquo;</a>
      <% end %>
    </div>
  <% end %>
</section>-->