<ul class="posts">

  <% posts.each_with_index do |post, i| %>
    <li class="<%= "first" if i == 0 %>">
      <article class="<%= post.post_type.first %>">
        <%= partial "header", engine: :erb, locals: {post: post} %>

        <%= post_excerpt post %>
      </article>
    </li>
  <% end %>
</ul>

<!--<section class="sidebar">
  <% if false and defined?(posts) %>
    <div class="pagination">
      <% if previous_page?(posts, page, per_page) %>
        <a href="/?page=<%= page - 1 %>">&laquo; newer posts</a>
      <% end %>

      <% if next_page?(posts, page, per_page) %>
        <a href="/?page=<%= page + 1 %>">older posts &raquo;</a>
      <% end %>
    </div>
  <% end %>
</section>-->