<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <% if title = content_from(:title) %>
    <title>Konklone | <%= title %></title>
  <% else %>
    <title>Konklone | by Eric Mill</title>
  <% end %>

  <meta name="description" content="Website of Eric Mill" />
  <meta name="author" content="Eric Mill" />
  <meta name="copyright" content="2003-<%= Time.now.year %>" />
  
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://klondike.myopenid.com/" />
  
  <link rel="stylesheet" href="/css/html5-reset.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="Posts (RSS)" />
  
  <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
  
  <script src="/js/jquery-1.8.2.min.js"></script>
  <script src="/js/jquery.placehold-0.3.min.js"></script>
  <script src="/js/three.min.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>

  <header class="main"></header>
  
  <section class="main">
    <%= yield %>
  </section>

  <section class="sidebar">
    <h1>
      <a class="me" href="/">Eric Mill</a>
    </h1>

    <p>
      developer at <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, trustee at <a href="http://www.awesomefoundation.org/en/chapters/dc">Awesome Foundation</a>
    </p>

    <ul class="links">
      <li>
        twitter: <a class="twitter" rel="me" href="http://twitter.com/konklone">@konklone</a>
      </li>

      <li>
        email: <a href="mailto:konklone@gmail.com">konklone@</a>
      </li>
    </ul>
<!-- 
    <ul class="channels">
      <li>
        <a href="/ideas">idea journal</a>
      </li>
    </ul> -->

    <%= content_from :sidebar %>

    <% if false and defined?(posts) %>
      <div class="pagination">
        <% if previous_page?(posts, page, per_page) %>
          <a href="/?page=<%= page - 1 %>">&laquo; newer posts</a>
        <% end %>

        <% if next_page?(posts, page, per_page) %>
          <a href="/?page=<%= page + 1 %>">older posts &raquo;</a>
        <% end %>
      </div>
    <% end %>
  </section>

  <footer class="main">
    <p>
      Everything written under <a href="http://creativecommons.org/licenses/by-nd/3.0/">Creative Commons BY-ND</a>.
    </p>
  </footer>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-252618-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
</body>
</html>