<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <% if title = content_from(:title) %>
    <title><%= title %></title>
  <% else %>
    <title>konklone</title>
  <% end %>

  <meta name="description" content="Eric Mill's writing and INSIDE FEELINGS" />
  <meta name="author" content="Eric Mill" />
  <meta name="copyright" content="2003-<%= Time.now.year %>" />
  <meta name="google-site-verification" content="BXdkAuVxuVdwYrDQxUbThU19WVlKsmyFMVxZgoAckdo" />
  
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://klondike.myopenid.com/" />
  
  <link rel="stylesheet" href="/css/html5-reset.css" />
  <link rel="stylesheet" href="/css/main.css?<%= Time.now.to_i %>" />

  <!-- rss must live on -->
  <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="All posts" />
  
  <!--[if lt IE 9]><script src="/js/html5.js"></script><![endif]-->
  
  <!-- jquery is the jquery of the web -->
  <script src="/js/jquery-1.8.2.min.js"></script>
  <script src="/js/jquery.placehold-0.3.min.js"></script>
  
  <script src="/js/main.js?<%= Time.now.to_i %>"></script>

  <!-- on the off chance -->
  <script src="/js/three.min.js"></script>
</head>

<body>

  <header class="main">
    <div class="inner me">
      <!-- <a class="left" href="/">
        <span class="arrow">&larr;</span>
        all posts
      </a> -->
      <a rel="me" class="me left" href="/">Eric Mill</a>
      <ul>
        <li><a class="<%= active?(:blog) %>" href="/">blog</a></li>
        <li><a class="<%= active?(:projects) %>" href="/projects">projects</a></li>
        <!-- <li><a class="<%= active?(:ideas) %>" href="/ideas">ideas</a></li> -->
      </ul>
      <!-- <p>
        developer at <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, trustee at <a href="http://www.awesomefoundation.org/en/chapters/dc">Awesome Foundation</a>
      </p> -->
      <div class="right">
        <a class="twitter" rel="me" href="https://twitter.com/konklone">@konklone</a>
        <a class="email" href="mailto:konklone@gmail.com">email</a>
        <!-- <a class="github" rel="me" href="https://github.com/konklone">github</a> -->
        <a class="feed" href="/rss.xml">feed</a>
      </div>
    </div>

    <!-- may be shown and filled in on an article page -->
    <div class="inner article">
      <a class="left" href="/">Eric Mill</a>
      <h1></h1>
      <a class="right" href="#">
        <span class="arrow">&uarr;</span>
        go to top
      </a>
    </div>

  </header>
  
  <section class="main">
    <%= yield %>
  </section>

  <footer class="main">
    <p>
      Everything written under <a href="http://creativecommons.org/licenses/by-nd/3.0/">Creative Commons BY-ND</a>.
    </p>
  </footer>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-252618-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
</body>
</html>
