<section class="motion">
  <article>
    <header>
      <h1>
        <a href="/motion/<%= current_motion %>">
          <%= motion_text current_motion %>
        </a>
      </h1>
    </header>

    <%= page %>
  </article>

  <ol reversed>
    <% Environment.motions.reverse.each_with_index do |motion, i| %>
      <li>
        <%= Environment.motions.size - i %>.
        <% if URI.decode(request.path) == "/motion/#{motion}" %>
          <%= motion_text motion %>
        <% else %>
          <a href="/motion/<%= motion %>">
            <%= motion_text motion %>
          </a>
        <% end %>
      </li>
    <% end %>
  </ol>
</section>

<% content_for :head do %>
  <%# geez %>
  <%= "<link rel=\"stylesheet\" href=\"/css/motion.css?#{Time.now.to_i}\"/>".html_safe %>
  <%= "<script src=\"/js/processing-1.4.1-api.min.js?#{Time.now.to_i}\"></script>".html_safe %>
<% end %>