<% content_for(:title) { post.title } %>

<%# ensures current slug is used for canonical link %>
<% content_for(:canonical) { post_path post } %>

<% content_for(:head) { post.header } %>

<article class="post" data-slug="<%= post.slug %>">
  <%= partial "header", engine: :erb, locals: {post: post} %>

  <section class="body">
    <%= post.body_rendered %>
  </section>
</article>

<% if post.related_post_ids.any? %>
  <div class="related">
    <h5>Related:</h5>

    <ul>
    <% post.related_posts.each do |related_post| %>
      <li>
        <a href="<%= post_path related_post %>"><%= h related_post.title %></a>
        <time datetime="<%= short_datetime related_post.published_at %>">
          <%= short_date related_post.published_at %>
        </time>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>

<hr />

<% new_comment = nil unless defined?(new_comment) %>
<section id="comment-form">

  <span>Sure, leave a comment:</span>

  <% if new_comment and new_comment.errors.any? %>
    <p>Comments must have a name and a body.</p>
  <% end %>

  <form method="post" action="<%= comment_path post %>#comment-form">
    <input name="comment[author]" type="text" placeholder="name" required
      <% if new_comment %>value="<%= new_comment.author %>"<% end %>
      />
    <input name="comment[author_url]" type="text" placeholder="website"
      <% if new_comment %>value="<%= new_comment.author_url %>"<% end %>
      />
    <input name="comment[author_email]" type="email" required placeholder="email (not displayed)"
      <% if new_comment %>value="<%= new_comment.author_email %>"<% end %>
      />
    <textarea name="comment[body]"><% if new_comment %><%= h new_comment.body %><% end %></textarea>
    <input type="submit" value="Thanks, I will" />
  </form>
</section>

<ol id="comments">
  <% comments.each do |comment| %>
    <%= partial "comment", engine: :erb, locals: {comment: comment} %>
  <% end %>
</ol>

<% content_for :foot do %>
  <%# geez %>
  <%= "<script src=\"/js/post.js?#{Time.now.to_i}\"></script>".html_safe %>

  <% if post.footer.present? %>
    <%= post.footer.html_safe %>
  <% end %>
<% end %>