<% content_for(:title) { "#{post.title} | konklone" } %>

<article class="post" data-slug="<%= post.slug %>">
  <%= partial "header", engine: :erb, locals: {post: post} %>

  <%= post_body post.body %>
</article>

<hr />

<% new_comment = nil unless defined?(new_comment) %>
<section id="comment-form">

  <span>Sure, leave a comment:</span>

  <% if new_comment and new_comment.errors.any? %>
    <p>Comments must have a name and a body.</p>
  <% end %>

  <form method="post" action="<%= comment_path post %>#comment-form">
    <input name="comment[author]" type="text" placeholder="name" required
      <% if new_comment %>value="<%= new_comment.author %>"<% end %>
      />
    <input name="comment[author_url]" type="text" placeholder="website"
      <% if new_comment %>value="<%= new_comment.author_url %>"<% end %>
      />
    <input name="comment[author_email]" type="email" required placeholder="email (not displayed)"
      <% if new_comment %>value="<%= new_comment.author_url %>"<% end %>
      />
    <textarea name="comment[body]" required><% if new_comment %><%= h new_comment.body %><% end %></textarea>
    <input type="submit" value="Thanks, I will" />
  </form>
</section>

<ol id="comments">
  <% comments.each do |comment| %>
    <%= partial "comment", engine: :erb, locals: {comment: comment} %>
  <% end %>
</ol>

<% content_for :foot do %>
  <%# geez %>
  <%= '<script src="/js/post.js"></script>'.html_safe %>

  <%= post.footer.html_safe %>
<% end %>