<% content_for(:title) { post.title } %>
<% content_for(:head) { post.header } %>
<% content_for(:description) { post.description } %>
<% content_for(:image) { post.image } %>

<%# ensures current slug is used for canonical link %>
<% content_for(:canonical) { post_path post } %>

<article class="post" data-slug="<%= post.slug %>">
  <% if post.nav.present? %>
    <section class="nav">
      <div class="inner">
        <h6 class="active">
          <a href="#">
            &uarr; top
          </a>
        </h6>
        <%= post_nav post %>
      </div>
    </section>
  <% end %>

  <%= partial "header", engine: :erb, locals: {post: post} %>

  <section class="body" id="post-top">
    <%= post_body post %>
  </section>

  <% if post.reddit.present? or post.hacker_news.present? %>
    <section class="discuss footer">
      More discussion on this over at <%= social_links post %>.
    </section>
  <% end %>

  <hr/>

  <section class="author footer">
    <form>
      <span class="hear">
      Hear of new posts via <a href="https://twitter.com/konklone">@konklone</a>, by <a class="feed" href="/rss.xml" target="_blank">RSS</a>, or by
      </span>
      <div class="to_subscribe">
        <input type="email" placeholder="entering your email." class="email" /> <input type="submit" class="subscribe" value="Subscribe" />
      </div>
      <div class="is_subscribing">Subscribing <span></span>...</div>
      <div class="error_subscribing">Error subscribing <span></span> - try a different email?</div>
      <div class="has_subscribed">Got it! <span></span> is subscribed.</div>
    </form>
  </section>

  <% if post.related_post_ids.any? %>
    <section class="related footer">
      <h5>Related:</h5>

      <ul>
      <% post.related_posts.each do |related_post| %>
        <li>
          <a href="<%= post_path related_post %>"><%= h related_post.title %></a>
          <time datetime="<%= short_datetime related_post.published_at %>">
            <%= short_date related_post.published_at %>
          </time>
        </li>
      <% end %>
      </ul>
    </section>
  <% end %>
</article>

<% if !defined?(preview); preview = false; end %>
<% unless preview %>
  <% new_comment = nil unless defined?(new_comment) %>
  <section id="comment-form">

    <% if new_comment and new_comment.errors.any? %>
      <p>Comments must have a name, email, and body.</p>
    <% end %>

    <form method="post" action="<%= comment_path post %>#comment-form">
      <input name="comment[author]" type="text" placeholder="name" required
        <% if new_comment %>value="<%= new_comment.author %>"<% end %>
        />
      <input name="comment[author_url]" type="text" placeholder="website"
        <% if new_comment %>value="<%= new_comment.author_url %>"<% end %>
        />
      <input name="comment[author_email]" type="email" required placeholder="email (not displayed)"
        <% if new_comment %>value="<%= new_comment.author_email %>"<% end %>
        />
      <textarea name="comment[body]"><% if new_comment %><%= h new_comment.body %><% end %></textarea>
      <input type="submit" value="Leave a comment" />
    </form>
  </section>

  <ol id="comments">
    <% comments.each do |comment| %>
      <%= partial "comment", engine: :erb, locals: {comment: comment} %>
    <% end %>
  </ol>
<% end %>

<% content_for :foot do %>
  <%# geez %>
  <%= "<script src=\"/js/post.js?#{Time.now.to_i}\"></script>".html_safe %>

  <% if post.footer.present? %>
    <%= post.footer.html_safe %>
  <% end %>
<% end %>