<% content_for(:title) { "#{title} | konklone" } %>

<article class="post">
  <header>
    <time class="left">
      <%= short_date Time.now %>
    </time>

    <% if defined?(version) and version %>
      <small class="version right">
        <strong>Replaced</strong> on <%= long_date version['replaced_at'] %> because, and I quote:
        <br/><br/>
        "<%= version['replaced_because'] %>"
      </small>
    <% end %>

    <h1>
      <a class="title" href="#">
        <%= h title %>
      </a>
    </h1>
  </header>

  <%= render_post_body body %>
</article>

<% content_for :foot do %>
  <%# geez %>
  <%= "<script src=\"/js/post.js?#{Time.now.to_i}\"></script>".html_safe %>

  <% if footer.present? %>
    <%= footer.html_safe %>
  <% end %>
<% end %>