<% content_for(:title) { "#{title} | konklone" } %>

<article class="post">
  <header>
    <time class="left">
      <%= short_date Time.now %>
    </time>

    <% if defined?(version) and version %>
      <small class="version right">
        <strong>Replaced</strong> on <%= long_date version['replaced_at'] %> because, and I quote:
        <br/><br/>
        "<%= version['replaced_because'] %>"
      </small>
    <% end %>

    <h1>
      <a class="title" href="#">
        <%= h title %>
      </a>
    </h1>
  </header>

  <%= render_post_body body %>
</article>

<script type="text/javascript">
  $("header.main .inner.article a.right").click(function() {
    window.location.hash = "";
    window.scrollTo(0,0);
    return false;
  });

  $("header.main .inner.me a.left").show();

  $(document).ready(function() {
    var articleHeader = $('article header');

    // var offset = $("header.main").outerHeight();
    var start = $(articleHeader).offset().top;
    var offset = 0;

    var headerMe = $("header.main .inner.me");
    var headerArticle = $("header.main .inner.article");
    headerArticle.find("h1").text($("article header .title").text());
    // headerArticle.find("time").text($("article header time").text());

    $.event.add(window, "scroll", function() {
      var p = $(window).scrollTop();
      var flip = p > (start - offset);

      headerMe.css('display', flip ? 'none' : 'block');
      headerArticle.css('display', flip ? 'block' : 'none');
    });

  });
</script>