<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Konklone</title>
    <link><%= site['root'] %></link>
    <description>Games Eric will love forever</description>
    <language>en-us</language>
    <image>
      <title>Konklone</title>
      <link><%= site['root'] %></link>
      <url><%= site['root'] %>/favicon.png</url>
      <description>Games Eric will love forever</description>
      <width>144</width>
      <height>144</height>
    </image>
    <atom:link href="<%= site['root'] %>/games/feed" rel="self" type="application/rss+xml" />

      <% games.each do |game| %>
        <item>
          <title><%= game['title'] %></title>
          <description><![CDATA[
            <%= markdown game['description'] %>
          ]]></description>

          <category>games</category>

          <link><%= site['root'] %>/games#<%= game['slug'] %></link>
          <guid><%= site['root'] %>/games#<%= game['slug'] %></guid>
          <pubDate><%= rss_date game['added'] %></pubDate>
        </item>
      <% end %>
  </channel>
</rss>